.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
}

section{
    width: 100%;
    & + section{
        width: 100%;
        padding: 0 40px;
    }
}

.footer {
    padding: 0 40px;
}

.responsive-notice {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
    background-color: $color-orange;
    .notice-txt {
        @include position-Center;
        font-size: 18px;
        line-height: 1.2;
        font-family: $font-kn1;
        color: $color-white;
    }
}

@include laptop {
    .responsive-notice {
        display: block;
    }
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: $color-orange;
    .loading-thumb {
        @include position-Center;
        width: 30vw;
    }
}