@font-face {
  font-family: 'Noto Sans KR';
  src: url(../fonts/notoR.eot);
  src: url(../fonts/notoR.eot?#iefix) format('embedded-opentype'),
       url(../fonts/notoR.otf) format('otf'),
       url(../fonts/notoR.svg#notoR) format('svg'),
       url(../fonts/notoR.ttf) format('truetype'),
       url(../fonts/notoR.woff) format('woff'),
       url(../fonts/notoR.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
font-family: 'Noto Sans KR';
src: url(../fonts/notoM.eot);
src: url(../fonts/notoM.eot?#iefix) format('embedded-opentype'),
      url(../fonts/notoM.otf) format('otf'),
      url(../fonts/notoM.svg#notoM) format('svg'),
      url(../fonts/notoM.ttf) format('truetype'),
      url(../fonts/notoM.woff) format('woff'),
      url(../fonts/notoM.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url(../fonts/notoB.eot);
  src: url(../fonts/notoB.eot?#iefix) format('embedded-opentype'),
       url(../fonts/notoB.otf) format('otf'),
       url(../fonts/notoB.svg#notoB) format('svg'),
       url(../fonts/notoB.ttf) format('truetype'),
       url(../fonts/notoB.woff) format('woff'),
       url(../fonts/notoB.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Goldplay-SemiBold';
  src: url(../fonts/Goldplay-SemiBold.eot);
  src: url(../fonts/Goldplay-SemiBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Goldplay-SemiBold.otf) format('otf'),
       url(../fonts/Goldplay-SemiBold.svg#Goldplay-SemiBold) format('svg'),
       url(../fonts/Goldplay-SemiBold.ttf) format('truetype'),
       url(../fonts/Goldplay-SemiBold.woff) format('woff'),
       url(../fonts/Goldplay-SemiBold.woff2) format('woff2');

    font-weight: 600;
    font-style: normal;   
}

@font-face {
  font-family: 'CooperBlackStd';
  src: url(../fonts/CooperBlackStd.eot);
  src: url(../fonts/CooperBlackStd.eot?#iefix) format('embedded-opentype'),
       url(../fonts/CooperBlackStd.otf) format('otf'),
       url(../fonts/CooperBlackStd.svg#CooperBlackStd) format('svg'),
       url(../fonts/CooperBlackStd.ttf) format('truetype'),
       url(../fonts/CooperBlackStd.woff) format('woff'),
       url(../fonts/CooperBlackStd.woff2) format('woff2');

    font-weight: 800;
    font-style: normal;    
}

@font-face {
  font-family: 'CooperBlackStd';
  src: url(../fonts/CooperBlackStd.eot);
  src: url(../fonts/CooperBlackStd.eot?#iefix) format('embedded-opentype'),
       url(../fonts/CooperBlackStd.otf) format('otf'),
       url(../fonts/CooperBlackStd.svg#CooperBlackStd) format('svg'),
       url(../fonts/CooperBlackStd.ttf) format('truetype'),
       url(../fonts/CooperBlackStd.woff) format('woff'),
       url(../fonts/CooperBlackStd.woff2) format('woff2');

    font-weight: 800;
    font-style: normal;    
}

@font-face {
  font-family: 'NEXONLv1GothicRegular';
  src: url(../fonts/NEXONLv1GothicRegular.eot);
  src: url(../fonts/NEXONLv1GothicRegular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NEXONLv1GothicRegular.svg#../fonts/NEXONLv1GothicRegular) format('svg'),
       url(../fonts/NEXONLv1GothicRegular.ttf) format('truetype'),
       url(../fonts/NEXONLv1GothicRegular.woff) format('woff'),
       url(../fonts/NEXONLv1GothicRegular.woff2) format('woff2');

  font-weight: 400;
  font-style: normal;
}