.sc-title{
    font-size: 1.4vw;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    color: $color-txt;
}

.sub-title{
    font-size: 6vw;
    line-height: 1;
    letter-spacing: -2px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    font-family: $font-en2;
}