$font-en1: 'Goldplay-SemiBold', sans-serif;
$font-en2: 'CooperBlackStd', sans-serif;
$font-kn1:'Noto Sans KR', sans-serif;
$font-kn2:'NEXONLv1GothicRegular', sans-serif;

$color-txt:#222;
$color-txt2:#444;
$color-dark:#000;

$color-gray1:#c6c0ba;
$color-gray2:#c5c5c5;
$color-gray3:#9a9a9a;
$color-gray4:#eee;

$color-white:#fff;
$color-ghost: #f9f9f9;

$color-brown1:#605348;
$color-brown2:#7c7267;
$color-brown3:#797169;

$color-blue:#2a31a0;
$color-orange:#eb5b29;
$color-beige:#e4dccb;
$color-fall:#963717;